numpy
pandas
seaborn
matplotlib
scikit-learn
scipy

#streamlit app
transformers
streamlit
streamlit[charts]
Pillow
tensorflow==2.15.0
tensorflow-datasets
tensorflow_hub
torch
torchvision

#Explanation LLM
langchain
langchain-google-genai
google-generativeai
python-dotenv

# Testing packages
pytest
