numpy
pandas
seaborn
matplotlib
scikit-learn
scipy

#streamlit app
transformers
streamlit==1.54.0
Pillow
tensorflow_hub
torch
torchvision
plotly
streamlit-toggle
streamlit-vertical-slider

#Explanation LLM
langchain
langchain-google-genai
google-generativeai
python-dotenv

# Testing packages
pytest
